@media (max-width: 767px) {
  .carousel-inner .carousel-item-hot > div {
    display: none;
  }
  .carousel-inner .carousel-item-hot > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item-hot.active,
.carousel-inner .carousel-item-hot-next,
.carousel-inner .carousel-item-hot-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-hot-end.active,
  .carousel-inner .carousel-item-hot-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-hot-start.active,
  .carousel-inner .carousel-item-hot-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-hot-end,
.carousel-inner .carousel-item-hot-start {
  transform: translateX(0);
}
