<div class="container footer-container">
  <div class="row g-0">
    <div
      class="social-footer col-lg-1 d-flex flex-column align-items-center align-items-lg-start"
    >
      <div class="row g-0 col-6 col-md-4 col-lg-12">
        <div class="col">
          <div class="social-link">
            <a href=""><i class="bi bi-facebook"></i></a>
          </div>
        </div>
        <div class="col">
          <div class="social-link">
            <a href=""><i class="bi bi-twitter"></i></a>
          </div>
        </div>
        <div class="col">
          <div class="social-link">
            <a href=""><i class="bi bi-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="row g-0 col-6 col-md-4 col-lg-12">
        <div class="col">
          <div class="social-link">
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
        </div>
        <div class="col">
          <div class="social-link">
            <a href=""><i class="bi bi-tiktok"></i></a>
          </div>
        </div>
        <div class="col">
          <div class="social-link">
            <a href=""><i class="bi bi-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 footer-link">
      <div class="row g-0 gap-1 gap-md-3 justify-content-center footer-link">
        <div
          class="footer-row row justify-content-center flex-wrap flex-md-nowrap gap-1 gap-md-3 gap-lg-5"
        >
          <a href="" class="">Giới Thiệu</a>
          <a href="" class="">Liên Hệ</a>
          <a href="" class="">Việc Làm</a>
          <a href="" class="">Khám Phá</a>
        </div>
        <div
          class="footer-row row justify-content-center flex-wrap flex-md-nowrap gap-1 gap-md-3 gap-lg-5"
        >
          <a href="" class="">Phần Thưởng</a>
          <a href="" class="">Membership</a>
          <a href="" class="">Tổ chức & Hợp Tác</a>
          <a href="" class="">Kiến Trúc</a>
          <a href="" class="">Tin Tức</a>
        </div>
        <div
          class="footer-row row justify-content-center flex-wrap flex-md-nowrap dap-1 gap-md-3 gap-lg-5"
        >
          <a href="" class="">Voucher</a>
          <a href="" class="">Tour Tham Quan</a>
          <a href="" class="">Thuê Địa Điểm</a>
          <a href="" class="">Phản Hồi</a>
          <a href="" class="">Media</a>
        </div>
      </div>
    </div>

    <div
      class="col-lg-1 row term-link g-0 my-3 my-lg-0 align-content-lg-start justify-content-center justify-content-lg-start"
    >
      <a href="">Điều khoản sử dụng </a><a href="">Quyền riêng tư</a>
    </div>
  </div>
</div>
