<nav class="nav navbar navbar-expand-lg fixed-top bg-main">
  <div class="container d-flex">
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <a href="#" class="navbar-brand"><img src="/img/logo.svg" alt="" /></a>
      <ul class="navbar-nav gap-4">
        <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sự kiện
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Nổi bật</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                </ul>
              </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Sự kiện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../calendar.html">Lịch trình</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Khám phá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tin Tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about.html">Giới thiệu</a>
        </li>
        <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sự kiện
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li> -->
      </ul>
      <form class="d-flex nav-search" role="search">
        <input
          class="search-type"
          type="search"
          placeholder="Tìm kiếm ..."
          aria-label="Search"
        />
        <button class="search-btn" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
