<nav class="nav navbar navbar-expand-lg fixed-top bg-main">
  <div class="container-lg container-fluid d-flex">
    <button
      class="navbar-toggler ham-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list "></i>
    </button>

    <!-- logo -->
    <a href="#" class="navbar-brand"><img src="/img/logo.svg" alt="" /></a>

    <!-- mobile search -->
    <button
      class="navbar-toggler d-lg-none collapsed" 
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mobilesearch"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-search"></i>
    </button>
    <div
      class="mobile-search collapse navbar-collapse justify-content-center "
      id="mobilesearch"
    >
      <ul class="navbar-nav navbar-nav-scroll gap-4">
        <form class="d-flex nav-search justify-content-end" role="search">
          <input
            class="search-type"
            type="search"
            placeholder="Tìm kiếm ..."
            aria-label="Search"
          />
          <button class="search-btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </ul>
    </div>

    <!-- nav -->
    <div class="collapse navbar-collapse justify-content-center" id="navbar">
      <ul class="navbar-nav navbar-nav-scroll gap-4">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../calendar.html">Lịch trình</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Khám phá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tin Tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about.html">Giới thiệu</a>
        </li>
      </ul>
    </div>

    <form class="d-flex nav-search d-none d-lg-block" role="search">
      <input
        class="search-type"
        type="search"
        placeholder="Tìm kiếm ..."
        aria-label="Search"
      />
      <button class="search-btn" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</nav>
