<div
  id="herocarousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner hero-inner">
    <!-- <div class="carousel-item hero-item active" data-bs-interval="4000">
      <img src="/img/hero-1.jpg" class="d-block w-100" alt="..." />
      <div
        class="hero-container container d-flex position-absolute justify-content-center"
      >
        <div class="hero-caption">
          <div class="hero-date">02/10</div>
          <div class="hero-title d-flex align-items-center">
            <h2 class="hero-resize">Les Misérables</h2>
          </div>
          <div class="hero-meta">
            <p>Director: Emeritus Artist Trần Ly Ly</p>
            <p>Artistic Director: Phan Mạnh Đức</p>
          </div>
          <div class="hero-duration">Thời lượng: 2 tiếng bao gồm giữa giờ</div>
          <button type="button" class="hero-btn btn btn-outline-light">
            Book Now
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-item hero-item" data-bs-interval="4000">
      <img src="/img/hero-3.jpg" class="d-block w-100" alt="..." />
      <div
        class="hero-container container d-flex position-absolute justify-content-center"
      >
        <div class="hero-caption">
          <div class="hero-date">12/10</div>
          <div class="hero-title d-flex align-items-center">
            <h2 class="hero-resize">Hàm Lệ Minh Châu</h2>
          </div>
          <div class="hero-meta">
            <p>Director: Emeritus Artist Trần Ly Ly</p>
            <p>Artistic Director: Phan Mạnh Đức</p>
          </div>
          <div class="hero-duration">Thời lượng: 2 tiếng bao gồm giữa giờ</div>
          <button type="button" class="hero-btn btn btn-outline-light">
            Book Now
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-item hero-item" data-bs-interval="4000">
      <img src="/img/hero-2.jpg" class="d-block w-100" alt="..." />
      <div
        class="hero-container container d-flex position-absolute justify-content-center"
      >
        <div class="hero-caption">
          <div class="hero-date">12/10</div>
          <div class="hero-title d-flex align-items-center">
            <h2 class="hero-resize">MIỀN KÝ ỨC</h2>
          </div>
          <div class="hero-meta">
            <p>Director: Emeritus Artist Trần Ly Ly</p>
            <p>Artistic Director: Phan Mạnh Đức</p>
          </div>
          <div class="hero-duration">Thời lượng: 2 tiếng bao gồm giữa giờ</div>
          <a href="../event.html">
            <button type="button" class="hero-btn btn btn-outline-light">
              Book Now
            </button>
          </a>
        </div>
      </div>
    </div> -->
  </div>

  <button
    class="carousel-control-prev hero-prev d-none d-xl-block"
    type="button"
    data-bs-target="#herocarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next hero-next d-none d-xl-block"
    type="button"
    data-bs-target="#herocarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="hidden-resizer" style="visibility: hidden"></div>

<script type="text/html" id="hero-template">
  <div
    class="carousel-item hero-item "
    id="hero-${ id }"
    data-bs-interval="4000"
  >
    <img src="${ thumbnail }" class="d-block w-100" alt="..." />
    <div
      class="hero-container container d-flex position-absolute justify-content-center"
    >
      <div class="hero-caption">
        <div class="hero-date">${ showtime[0] }</div>
        <div class="hero-title d-flex align-items-center">
          <h2 class="hero-resize">${ title }</h2>
        </div>
        <div class="hero-meta">
          <p>${ staff[0]["position"] } : ${ staff[0]["name"] }</p>
          <p>${ staff[1]["position"] } : ${ staff[1]["name"] }</p>
        </div>
        <div class="hero-duration">
          Thời lượng: ${ duration } bao gồm giữa giờ
        </div>
        <a href="">
          <button type="button" class="hero-btn btn btn-outline-light">
            Book Now
          </button>
        </a>
      </div>
    </div>
  </div>
</script>
