<div class="row g-0">
  <div class="text-center col-12 col-lg-11">
    <div class="owl-carousel hot-owl-carousel">
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-1.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">2</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ hai</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Hàm Lệ Minh Châu
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- 2 -->
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-2.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">4</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ tư</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Les Misérables
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- 3 -->
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-3.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">2</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ hai</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Ballet: Swan Lake
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- 4 -->
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-4.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">6</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ sáu</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Miền Ký Ức
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- 5 -->
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-5.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">25</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ tư</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Best of Tchaikovsky
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- 6 -->
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-6.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">2</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ hai</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Dance Fest
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- 7 -->
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-7.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">1</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 11</p>
                    <p>Thứ ba</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Phía sau đôi mắt
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="item">
        <a href="../event.html">
          <div class="card hot-card">
            <div class="card-img-top hot-image">
              <img src="img/hot-8.png" class="img-fluid" />
            </div>
            <div class="card-body">
              <div class="card-time d-grid">
                <div class="row">
                  <div class="card-time-big col-auto">2</div>
                  <div
                    class="card-time-small col d-flex flex-column justify-content-center align-items-start"
                  >
                    <p>Tháng 10</p>
                    <p>Thứ hai</p>
                    <p>2022</p>
                  </div>
                </div>
              </div>
              <h5 class="card-title hot-card-title position-relative">
                Les Misérables
              </h5>
              <div class="card-staff">
                <p class="card-text">Director: Nguyễn Hồng Phong</p>
                <p class="card-text">Art Director: Phan Mạnh Đức</p>
              </div>
              <p class="card-text card-duration">
                Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div
    class="hot-navigate col col-lg-1 d-none d-lg-flex d-flex flex-column justify-content-center align-items-end gap-5"
  ></div>
</div>
