<div class="row">
  <div class="text-center my-3 col">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="hotcarousel" class="carousel carousel-hot slide">
        <div class="carousel-inner hot-inner" role="listbox">
          <div class="carousel-item hot-item active">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item hot-item">
            <div class="col-md-3">
              <a href="#">
                <div class="card hot-card">
                  <div class="card-img-top hot-image">
                    <img src="img/hot-1.png" class="img-fluid" />
                  </div>
                  <div class="card-body">
                    <div class="card-time d-grid">
                      <div class="row">
                        <div class="card-time-big col">2</div>
                        <div
                          class="card-time-small col-8 d-flex flex-column justify-content-center align-items-start"
                        >
                          <p>Tháng 10</p>
                          <p>Thứ hai</p>
                          <p>2022</p>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title position-relative">Les Misérables</h5>
                    <div class="card-staff">
                      <p class="card-text">Director: Nguyễn Hồng Phong</p>
                      <p class="card-text">Art Director: Phan Mạnh Đức</p>
                    </div>
                    <p class="card-text card-duration">
                      Thời lượng: 1 tiếng 30 phút - bao gồm giờ nghỉ
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hot-navigate col-1 d-flex flex-column justify-content-center gap-5">
    <button
      class="carousel-control-prev bg-transparent w-aut position-relative hot-button"
      data-bs-target="#hotcarousel"
      type="button"
      data-bs-slide="prev"
    >
      <i class="bi bi-arrow-left"></i>
    </button>
    <button
      class="carousel-control-next bg-transparent w-aut position-relative hot-button"
      data-bs-target="#hotcarousel"
      type="button"
      data-bs-slide="next"
    >
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>
