.section.event-detail {
  background-color: var(--nav-bg-2);
}

.event-banner .hero-item {
  height: 557px;
}

.event-container {
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
}

.event-breadcrumb * {
  left: 0;
  transform: translateX(0);
  text-align: left;
}

.event-breadcrumb {
  height: 9rem;
  width: 300px;
}

.event-sub {
  border-bottom: 1px solid var(--placeholder-color);
}

/* main info */
.event-sub > .row > * {
  margin-top: 18px;
  margin-bottom: 32px;
}

.event-time > *,
.event-staff * {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.7;
}

.event-main {
  margin-top: 30px;
}

.event-main strong {
  font-family: var(--lora);
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-main);
}

.event-main i {
  font-weight: 300;
}

.event-main p {
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0.07em;
}

.event-btn {
  color: var(--color-main);
  font-weight: 700;
  font-family: var(--lora);
  font-style: italic;
  border: none;
  padding: 0;
  margin: 30px 0 40px 0;
  font-size: 3rem;
}

