.footer {
  background-color: var(--color-main);
  padding: 20px;
}

footer * {
  color: var(--nav-bg-2);
}

.footer-row a {
  width: fit-content;
  font-weight: 800;
}

.term-link a {
  display: block;
  font-size: 0.7rem;
  line-height: 1;
  width: fit-content;
}

.term-link a:last-child {
  margin-top: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 923px) {
  .social-link {
    font-size: 1.5rem;
    justify-content: start;
  }

  .term-link a {
    margin: 0 20px !important;
    margin-bottom: 40px;
  }

  .footer-link {
    margin: 10px auto;
  }
}
