@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  /* color */
  --nav-bg-1: #2b2a28;
  --nav-bg-2: #2d2927;
  --color-main: #c9ac8c;
  --index-bg-2: #1a1919;
  --placeholder-color: rgb(215, 215, 215, 0.5);
  --bs-body-color: white;

  /* font */
  --lora: "Lora", serif;
  --jarkata: "Plus Jakarta Sans", sans-serif;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

img {
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.bg-main-1 {
  background-color: var(--nav-bg-1);
}

.bg-main-2 {
  background-color: var(--nav-bg-2);
}

::placeholder {
  color: var(--placeholder-color);
}

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

input[type="search"] {
  color: rgba(215, 215, 215, 0.7);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;

  width: 20px;
  height: 15px;
  background: url("/img/x.svg");
}

ul,
li {
  list-style: none;
}

/* global class */
.btn-theme {
  background-color: rgb(215, 215, 215, 0);
  border-radius: 0;
  border: 2px solid var(--color-main);
  color: var(--color-main);

  padding: 15px 40px;
  margin: 0 auto;

  font-size: 1.5rem;
  letter-spacing: 2px;
}

.btn-theme:hover {
  background-color: var(--color-main);
  border-color: var(--color-main);
  color: var(--nav-bg-2);
}
