:root {
  --nav-transition-time: 0.5s;
}

/* nav responsive */
.nav {
  transition: background-color var(--nav-transition-time);
  border-bottom: 1px solid rgba(215, 215, 215, 0.15);
}

.shrink {
  background-color: var(--nav-bg-1);
}

.shrink-mobile {
  background-color: var(--nav-bg-1);
}

.navbar-brand {
  text-align: center;
  width: 200px;
}

.navbar-brand img {
  transition: max-width var(--nav-transition-time);
  max-width: 200px;
}

.logo-shrink {
  max-width: 120px !important;
}

/* nav link */
.nav-link {
  color: white;
  position: relative;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:hover::after {
  color: var(--color-main);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-main);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:focus,
.nav-link:active {
  color: var(--color-main);
}

/* search */
.nav-search {
  background: rgba(215, 215, 215, 0.15);
  border-radius: 50px;
  padding: 5px 20px;
  margin: 10px 0;
}

.search-type {
  color: rgba(215, 215, 215, 0.568);
  background: none;
  border: none;
  text-align: right;
  margin-right: -10px;
  outline: none;

  font-weight: 200;
  font-size: small;
}

.search-type:focus {
  border: none;
}

.search-btn {
  background: none;
  border: none;
  color: var(--placeholder-color);
}

.navbar-toggler,
.navbar-toggler-icon {
  color: var(--color-main) !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox=’0 0 32 32′ xmlns=’http://www.w3.org/2000/svg’%3E%3Cpath stroke=’rgba(0, 128, 0, 0.8)’ stroke-width=’2′ stroke-linecap=’round’ stroke-miterlimit=’10’ d=’M4 8h24M4 16h24M4 24h24’/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse.mobile-search {
    display: none !important;
  }
}

@media only screen and (max-width: 923px) {
  .navbar-brand {
    text-align: center;
    width: 120px;
    padding: sad 0 auto;
  }

  .navbar-brand img {
    transition: max-width var(--nav-transition-time);
    max-width: 120px;
  }

  .logo-shrink {
    max-width: 120px !important;
  }
}

nav .navbar-toggler {
  border: 0;
}

.ham-toggler i {
  font-size: 2rem;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus i {
  color: white;
}

.navbar-toggler {
  padding: 0 12px;
}
