@media (max-width: 767px) {
  .hot-inner .hot-item > div {
    display: none;
  }
  .hot-inner .hot-item > div:first-child {
    display: block;
  }
}

:root {
  --card-padding: 20px;
}

.hot-inner .carousel-item.active,
.hot-inner .carousel-item-next,
.hot-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .hot-inner .carousel-item-end.active,
  .hot-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .hot-inner .carousel-item-start.active,
  .hot-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.hot-inner .carousel-item-end,
.hot-inner .carousel-item-start {
  transform: translateX(0);
}

.hot-item {
  max-width: 100%;
}

.gap {
  gap: 10px;
}

/* card content */
.hot-carousel {
  margin-top: 70px;
}

.hot-card {
  box-sizing: border-box;
  padding-right: var(--card-padding);
  background: none;
  border: none;
  position: relative;
}

.hot-card::before {
  position: absolute;
  content: "";
  inset: 0;
  right: var(--card-padding);
  background-color: var(--nav-bg-1);
  transition: border 0.1s ease;
  border: 0px solid var(--color-main);
}

.hot-card:hover::before {
  border: 4px solid var(--color-main);
  box-shadow: rgba(211, 149, 14, 0.35) 0px 5px 15px;
}

.hot-card * {
  z-index: 2;
}

.card-time * {
  color: var(--color-main);
}

.card-time-big {
  font-family: var(--lora);
  font-size: 6.5rem;
  font-style: italic;
  line-height: 1;
  text-align: right;
}

.card-time-small p {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.hot-card-title {
  margin-top: 20px;
  text-align: left;
  font-weight: 500;
  font-size: 1.5rem;
}

.hot-card-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 5px;
  width: 80px;
  background-color: var(--color-main);
}

.card-staff {
  margin-top: 50px;
}

.card-text {
  padding: 0;
  text-align: left;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

.card-duration {
  margin-top: 20px;
}

.hot-button {
  color: var(--color-main);
  background: none;
  border: 3px solid var(--color-main);
  width: 80px;
  padding: 10px 0;
  border-radius: 0;

  transition: all 0.2s ease;
}

.hot-button i {
  font-size: 2rem;
}

.hot-button:hover,
.hot-button:hover i {
  color: var(--color-main);
  border-color: var(--color-main);
}

.hot-button:hover {
  background-color: rgba(238, 227, 178, 0.103);
  back
}
