nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sect-heading {
  border-bottom: 20px solid yellowgreen 1;
}

/* Nav Sect */
.nav-link {
  color: var(--color-main);
}

.nav-link

/* Hero Sect */

/* Sect-2 Hot */
.sect-2 {
  background-color: var(--nav-bg-2);
}
