/* Sect-2 Hot */
.sect-2 {
  background: var(--nav-bg-2);
}

.breadcrumb {
  z-index: 2;
  margin-bottom: 0;
  height: 12rem;
  width: 150px;
  border-bottom: 5px solid var(--color-main);

  overflow: string;
}
.breadcrumb * {
  max-width: 600px;
  width: 100vw;
  line-height: 0;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);

  font-family: var(--lora);
  font-size: 7rem;

  text-align: center;
}

