nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sect-heading {
  border-bottom: 20px solid yellowgreen 1;
}

/* Nav Sect */
.nav-link {
  color: var(--color-main);
}

.nav-link

/* Hero Sect */
.carousel-item {
  max-height: 881px;
}

.hero-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      180deg,
      #2b2928 17.71%,
      rgba(96, 90, 83, 0.46) 39.06%,
      rgba(96, 90, 83, 0.58) 71.88%,
      #2d2927 100%
    ),
    url(b16i0846-1605995769192760841408.jpg);
  mix-blend-mode: normal;
}

.carousel-caption {
  z-index: 100;
}

/* Sect-2 Hot */
.sect-2 {
  background-color: var(--nav-bg-2);
}
